
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.random-popup-box {
  display: none;
  
  position: fixed;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  z-index: 1000;
  border: 1px solid black;
}




.close-btn {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  transition: transform 0.1s linear;
}

.photo {
  max-width: 300px;
  max-height: 300px;
  border-radius: 25px;
}

.links{
  position: fixed;
  bottom: 0;
}



#puzzle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
}

.piece {
  position: absolute;
  width: 95px;
  height: 45px;
  background-color: rgb(255, 119, 0);
  border: 1px solid black;
  border-radius: 5px;
  cursor: grab;
  user-select: none;
}

.target-zone {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 100px;
  left: 50px;
  border: 2px solid #000000;
  background-color: rgba(200, 150, 150, 0.3);
}




